<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HOTEL360___Trabalho_final</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HOTEL360___Trabalho_final.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm blue-background border-bottom box-shadow ">
            <div class="container-fluid ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-flex justify-content-end ">
                    <partial name="_LoginPartial" class="ml-auto" /> <!-- Login no canto direito -->
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid ">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar blue-background white-text ">
                <div class="sidebar-sticky text-center">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Imagens/logo.png" alt="Logo do HOTEL360" class="img-fluid" style="max-height: 300px" />
                    </a>
                    <div class="navbar-collapse collapse d-sm-inline-flex  justify-content-between text-center">
                        <ul class="nav flex-column">
                            <li class="nav-item text-center mb-3">
                                <a  class="white-text" asp-area="" asp-controller="Quartos" asp-action="Index" title="Mostra os dados dos Quartos" style="font-size: 1.2rem;">Quartos</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item text-center mb-3">
                                    <a class="white-text"  asp-area="" asp-controller="Reservas" asp-action="Index" title="Mostra os dados das Reservas" style="font-size: 1.2rem;">Reservas</a>
                                </li>
                            }
                            <li class="nav-item text-center mb-3">
                                <a  class="white-text" asp-area="" asp-controller="Servicos" asp-action="Index" title="Mostra os dados dos Serviços" style="font-size: 1.2rem;">Serviços</a>
                            </li>
                            @if (User.IsInRole("Gerentes"))
                            {
                                <li class="nav-item text-center mb-3">
                                    <a  class="white-text" asp-area="" asp-controller="Utilizadores" asp-action="Index" title="Mostra os dados dos Utilizadores" style="font-size: 1.2rem;">Utilizadores</a>
                                </li>
                            }
                            <li class="nav-item text-center">
                                <a  class="white-text" asp-area="" asp-controller="Home" asp-action="Privacy" style="font-size: 1.2rem;">Privacidade</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-2">
                @RenderBody()
            </main>
        </div>
    </div>


    <footer class="border-top footer text-muted blue-background">
        <div class="container">
            &copy; 2024 - HOTEL360___Trabalho_final - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .blue-background {
        background-color: #082233; /* Azul */
    }

    .white-text {
        color: #FFFFFF; /* Branco */
    }

    .blue-background hr {
        border-top: 1px solid #FFFFFF; /* Linha horizontal branca */
    }
</style>
