@model HOTEL360___Trabalho_final.Models.Reservas

@{
    ViewData["Title"] = "Adicionar Reserva";
}

<h1>Adicionar uma nova Reserva</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*
                Vamos usar a variável auxiliar para ler os dados
                do VALORPAGO para evitar os constrangimentos do
                processamento de vars. do tipo DECIMAL
                *@
                <label asp-for="ValorPagoAux" class="control-label"></label>
                <input asp-for="ValorPagoAux" class="form-control" />
                <span asp-validation-for="ValorPagoAux" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataReserva" class="control-label"></label>
                <input asp-for="DataReserva" class="form-control" />
                <span asp-validation-for="DataReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCheckIN" class="control-label"></label>
                <input asp-for="DataCheckIN" class="form-control" />
                <span asp-validation-for="DataCheckIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCheckOUT" class="control-label"></label>
                <input asp-for="DataCheckOUT" class="form-control" />
                <span asp-validation-for="DataCheckOUT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuartoFK" class="control-label"></label>
                <select asp-for="QuartoFK" class ="form-control" asp-items="ViewBag.QuartoFK">
                    <option value="-1">-- Escolha um quarto --</option>
                </select>
            </div>

            @* listar os serviços *@
            <div class="form-group">
                <label class="control-label">Serviços</label>
                @foreach (var serv in (List<Servicos>)ViewData["listaServicos"] ?? Enumerable.Empty<Servicos>())
                {
                    <div class="form-check">
                        <input class="form-check-input"
                               type="checkbox"
                               value="@serv.Id"
                               name="escolhaServicos">
                        <label class="form-check-label" for="flexCheckDefault">
                            @serv.Nome
                        </label>
                    </div>
                }

            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Adicionar" class="btn btn-primary" />
                <br />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index">Regressar à listagem das Reservas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
