@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center blue-background white-text">
    <img src="~/Imagens/logoHotel360.png" alt="Logo do HOTEL360" class="img-fluid" style="max-height: 200px;">
    <h1 class="display-4">Bem-vindo!</h1>
    <p class="lead">Sua estadia confortável começa aqui. Explore os nossos quartos e serviços exclusivos.</p>    
</div>

<hr>
<div class="blue-background white-text">
    <h2 class="text-center">Os Nossos Quartos</h2>
    <p class="text-center">Oferecemos uma variedade de quartos para atender às suas necessidades. Seja para uma viagem de negócios ou férias em família, temos o quarto perfeito para você.</p>
    
<div />
<hr>
    <div class="blue-background white-text">
    <h2 class="text-center">Os Nossos Serviços</h2>
     <p class="text-center">Oferecemos uma ampla gama de serviços para garantir que sua estadia seja confortável e memorável. Explore as nossas comodidades e desfrute de uma experiência de hospitalidade de primeira classe.</p>
<div />
<hr>
<div>
    <h2 class="text-center">Os Nossos Trabalhadores</h2>
    <p class="text-center">Temos orgulho da nossa equipe dedicada e profissional, que trabalha incansavelmente para garantir que todos os hóspedes tenham uma experiência memorável e agradável.</p>

 </div>


        <style>
            .blue-background {
                background-color: #082233; /* Azul */
                padding: 20px; /* Espaçamento interno */
            }

            .white-text {
                color: #FFFFFF; /* Branco */
            }

            .blue-background hr {
                border-top: 1px solid #FFFFFF; /* Linha horizontal branca */
            }
        </style>
