@{
    ViewData["Title"] = "Home Page";
}

<div class="card mt-4 mb-4">
    <div class="card-body">
        <div class="text-center blue-text">        
            <img src="~/Imagens/bemvindo.png" alt="Bem-vindo ao Hotel360" class="img-fluid" style="max-height: 400px;">
        </div>

        <hr>
        <div class="blue-text">
            <h2 class="text-center">Os Nossos Quartos</h2>
            <p class="text-center">Oferecemos uma variedade de quartos para atender às suas necessidades. Seja para uma viagem de negócios ou férias em família, temos o quarto perfeito para você.</p>
    
        </div >
        <hr>
        <div class="blue-text">
            <h2 class="text-center">Os Nossos Serviços</h2>
             <p class="text-center">Oferecemos uma ampla gama de serviços para garantir que sua estadia seja confortável e memorável. Explore as nossas comodidades e desfrute de uma experiência de hospitalidade de primeira classe.</p>
        </div >
        <hr>
        <div>
            <h2 class="text-center blue-text">Os Nossos Trabalhadores</h2>
            <p class="text-center">Temos orgulho da nossa equipe dedicada e profissional, que trabalha incansavelmente para garantir que todos os hóspedes tenham uma experiência memorável e agradável.</p>

         </div>
     </div>
</div>


        <style>            
            .blue-text {
                color: #082233; /* Azul */
            }

        </style>
