@{
    ViewData["Title"] = "Politicas de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>A nossa aplicação possui diferentes tipos de utilizadores, cada um com funções específicas:</p>

<ul>
    <li><strong>Gerentes:</strong> Responsáveis pela administração do hotel, têm acesso completo a todas as funcionalidades da aplicação, incluindo a gestão de quartos, reservas, serviços e funcionários.</li>
    <li><strong>Rececionistas:</strong> Encarregados de realizar e gerenciar reservas, check-ins e check-outs dos hóspedes, bem como atender às necessidades dos clientes durante a estadia.</li>
    <li><strong>Hóspedes:</strong> Utilizadores finais que fazem reservas, visualizam informações sobre quartos e serviços disponíveis.</li>
</ul>

<p>Estamos comprometidos em proteger a privacidade de todos os nossos utilizadores. Para mais informações sobre como tratamos seus dados pessoais, contacte-nos por email.</p>
