@model HOTEL360___Trabalho_final.Models.Quartos

@{
    ViewData["Title"] = "Editar Quarto";
}

<h1>Editar Quarto</h1>

<h4>Quarto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"
            method="post"
            enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacidade" class="control-label"></label>
                <input asp-for="Capacidade" class="form-control" />
                <span asp-validation-for="Capacidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*
                Vamos usar a variável auxiliar para ler os dados
                do PRECO para evitar os constrangimentos do
                processamento de vars. do tipo DECIMAL
                *@
                <label asp-for="PrecoAux" class="control-label"></label>
                <input asp-for="PrecoAux" class="form-control" />
                <span asp-validation-for="PrecoAux" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localizacao" class="control-label"></label>
                <input asp-for="Localizacao" class="form-control" />
                <span asp-validation-for="Localizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                @* File Upload
                - não esquecer definir:
                - 'accept'' para ajudar os utilizadores a escolher o tipo certo de ficheiro
                - 'name' para acederem ao ficheiro no Servidor
                *@
                <input type="file" name="ImagemLogo" accept=".png,.jpg,.jpeg" class="form-control" />
            </div>
            <div class="form-group">
                <br/>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regressar à listagem de Quartos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
